*{
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.navbar{
    position: absolute;

    left: -100%;
    border: 1px solid #000;
    width: 20vh;
    height: 100vh;
    transition: .3s;
}